<section class="container p-3" >  
  <form autocomplete="off" #operatorForm="ngForm">
      <br><br>
      <h2>Best operator in cheap cost</h2>
      <input type="tel" name="phone" class="form-control inputStyle" id="phone" required [(ngModel)]="phone">
      <div class="text-center p-3">
          <button class="btn btn-primary btnStyle" [disabled]="!operatorForm.valid" (click)="getBestOperator()">Get Best Operator</button>
      </div>
      <label *ngIf="isDataAvailable">
          Best Operator is {{bestOperator.operator}} - {{bestOperator.cost}}/min
      </label>
      <label *ngIf="isDataAvailable === false && operatorForm.valid">
          Sorry!! No operator available
      </label>
    </form>
</section>